Potential Race Condition in eventedHttpServer and sending events to HomeKit 

I'm in the middle of coding up the HAP Event emitter to my homebridge-alexa plugin, and found a funny message being emitted by HAP-NodeJS / eventedHttpServer when triggering multiple Homebridge events at the same time.  The HAP EVENT message appears to be be combing 2 messages into the same network packet.  After quickly looking at the code, there may be a race condition with the data object.

I will continue to look at, so no further action required at this time.  Just opening this as a placeholder.

In my test environment, I have a plugin that is generating 2 events every 10 seconds, so this is an unlikely production condition.


`
  Stub Sending event Motion true +10s
  EventedHTTPServer [::ffff:192.168.1.233] Sending HTTP event '4.10' with data: {"characteristics":[{"aid":4,"iid":10,"value":true}]} +10s
  Stub Sending event Contact false +1ms
  EventedHTTPServer [::ffff:192.168.1.233] Sending HTTP event '5.10' with data: {"characteristics":[{"aid":5,"iid":10,"value":0}]} +0ms
  EventedHttpClient EVENT 
EVENT/1.0 200 OK
Content-Type: application/hap+json
Content-Length: 53

{"characteristics":[{"aid":4,"iid":10,"value":true}]}EVENT/1.0 200 OK
Content-Type: application/hap+json
Content-Length: 50

{"characteristics":[{"aid":5,"iid":10,"value":0}]} +17s
`

Looking at the send event code

https://github.com/KhaosT/HAP-NodeJS/blob/414cd96ca9708596b1f71304bd4e6dff5ab045fc/lib/util/eventedhttp.js#L154

I'm thinking the issue is with this section

https://github.com/KhaosT/HAP-NodeJS/blob/414cd96ca9708596b1f71304bd4e6dff5ab045fc/lib/util/eventedhttp.js#L174

And not the the pending section, as I don't see the sending pending event debug message

https://github.com/KhaosT/HAP-NodeJS/blob/414cd96ca9708596b1f71304bd4e6dff5ab045fc/lib/util/eventedhttp.js#L190

Closing this, as after reviewing the relevant docs, and RFC 7203 Section 6.3 in particular the behaviour is correct, a client of HAP-NodeJS needs to take this behaviour into account.

Thanks for looking into this :)